{% extends "layout.html" %}

<title>contacts</title>

{% block body %}
    <div class="links">
        <a href="{{ url_for('index') }}">home</a>
        <a href="{{ url_for('work') }}">work</a>
        <a href="{{ url_for('product') }}">products</a>
        <a href="{{ url_for('task') }}">todos for the day</a>
        <a href="{{ url_for('register') }}">Add a new person</a>
        <a href="{{ url_for('contacts') }}">Add a contact</a>
        <a href="{{ url_for('logout') }}">logout</a>
    </div>


    <div class="conts">
        <h1>contacts</h1>
        <form action="/contacts" method="post">
            <input type="text" name="name" placeholder="Name"><br>
            <input type="email" name="email" placeholder="Email Adress"><br>
            <input type="phone" name="phone" placeholder="phone number"><br>
            <input type="submit">
        </form>
        <a href="{{ url_for('contact') }}">Go to contacts</a>
    </div>





{% endblock %}
