{% extends "layout.html" %}


{% block body %}

    <div class="links">
      <a href="{{ url_for('index') }}">home</a>
        <a href="{{ url_for('work') }}">work</a>
        <a href="{{ url_for('product') }}">products</a>
        <a href="{{ url_for('task') }}">todos for the day</a>
        <a href="{{ url_for('register') }}">Add a new person</a>
        <a href="{{ url_for('contacts') }}">Add a contact</a>
        <a href="{{ url_for('logout') }}">logout</a>


    </div>

    <div class="body">
      <table class="table_product">
        <caption class="caption">products in store</caption>
        <tr>
          <th>No.</th>
          <th>Product Name</th>
          <th>Amount</th>
          <th>Quntity</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>1</td>
          <td>biscuits</td>
          <td>1</td>
          <td>50g</td>
          <td>26sh</td>
        </tr>

        <tr>
          <td>2</td>
          <td>Colgate</td>
          <td>1</td>
          <td>50g</td>
          <td>50sh</td>

        </tr>

        <tr>
          <td>3</td>
          <td>choclate</td>
          <td>1</td>
          <td>25g</td>
          <td>70sh</td>

        </tr>
        <tr>
          <td>1</td>
          <td>biscuits</td>
          <td>1</td>
          <td>50g</td>
          <td>26sh</td>
        </tr>

        <tr>
          <td>2</td>
          <td>Colgate</td>
          <td>1</td>
          <td>50g</td>
          <td>50sh</td>

        </tr>

        <tr>
          <td>3</td>
          <td>choclate</td>
          <td>1</td>
          <td>25g</td>
          <td>70sh</td>

        </tr>
        <tr>
          <td>1</td>
          <td>biscuits</td>
          <td>1</td>
          <td>50g</td>
          <td>26sh</td>
        </tr>

        <tr>
          <td>2</td>
          <td>Colgate</td>
          <td>1</td>
          <td>50g</td>
          <td>50sh</td>

        </tr>

        <tr>
          <td>3</td>
          <td>choclate</td>
          <td>1</td>
          <td>25g</td>
          <td>70sh</td>

        </tr>
        <tr>
          <td>1</td>
          <td>biscuits</td>
          <td>1</td>
          <td>50g</td>
          <td>26sh</td>
        </tr>

        <tr>
          <td>2</td>
          <td>Colgate</td>
          <td>1</td>
          <td>50g</td>
          <td>50sh</td>

        </tr>

        <tr>
          <td>3</td>
          <td>choclate</td>
          <td>1</td>
          <td>25g</td>
          <td>70sh</td>

        </tr>


      </table>

    </div>


{% endblock %}
